{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="nav-link text-uppercase text-center text-primary mb-3">Connectez-vous</h1>
	</div>

	{# {{ include('user/_form.html.twig') }} #}

	<a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
